.register-form {
    max-width: 500px;
}
.register-form__caption {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.register-form__title {
    color: white;
}

